{% extends "base.html" %}
{% block content %}

<div class="about">
    <br>
    <h2>Use of Website Content:</h2>
    <div class="about1">
        <p>
            Welcome to our website, where we are dedicated to advancing Alzheimer's disease diagnosis through AI and image classification. Our team of researchers is committed to revolutionizing the field by leveraging AI algorithms and deep learning models to analyze MRI scans. Our innovative approach aims to detect early signs of Alzheimer's, improve accuracy, and provide personalized treatment strategies. By making the diagnostic process more patient-friendly and accessible, we offer hope for earlier detection and better management of this challenging condition. Join us on this transformative journey to make a significant impact on Alzheimer's disease.
        </p>
    </div>
</div>

{% endblock %}
