{% extends "base.html" %}

{% block content %}

<div class="container3">
    <img class="Xray1" src="{{ url_for('static', filename='images/Xray1.jpg') }}" width="100%">
</div>

<div class="PatientInf">
    <div>
        <h3>Patient Informations</h3>
    </div>
</div>

<div class="Rasault1">
    <!-- Image container -->
    <div class="image-container1" onclick="openModal()">
        <img class="modal-content" src="{{ url_for('static', filename='profile_pics/' + patient.brain_img) }}"
            class="result-image1">
    </div>

    <!-- Modal -->
    <div id="modal01" class="modal" onclick="closeModal()">
        <span class="close">&times;</span>
        <img class="modal-content" src="{{ url_for('static', filename='profile_pics/' + patient.brain_img) }}">
    </div>

    <form method="POST" id="profile" action="" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <div>
            <label>
                <p>Patient name:</p>
                {{ form.username(readonly="readonly", value=patient.username, class="text") }}
            </label>
        </div>


        <div>
            <label>
                <p>Patient ID:</p>
                {{ form.patient_id(readonly="readonly", value=patient.patient_id, class="text") }}
            </label>
        </div>

        <div class="rectangle3">
            <!-- Drop area for uploading images -->
            <label id="drop-area">
                <!-- <input type="file" accept="image/*" id="input-file" hidden onchange="displayFileName(this)"/> -->
                {{ form.brain_img(id="input-file", hidden=true, onchange="displayFileName(this)") }}
                <div id="img-view">
                    <img id="preview-image" src="{{ url_for('static', filename='images/icon_uplaod.webp') }}">
                    <div class="file-upload">
                        <p id="file-name-label">{{ form.brain_img.label}}</p>
                    </div>
                </div>
            </label>
        </div>

        <script>
            // Function to display the uploaded file name for the brain_img input field
            function displayFileName(input) {
                const fileNameLabel = document.getElementById('file-name-label');
                const targetInput = document.getElementById('{{form.brain_img}}'); // Assuming 'brain_img' is the ID of the input field
                if (input.files.length > 0) {
                    fileNameLabel.textContent = input.files[0].name;
                    targetInput.value = input.files[0].name; // Set the value of the target input field
                } else {
                    fileNameLabel.textContent = 'No file chosen';
                    targetInput.value = ''; // Clear the value of the target input field
                }
            }
        </script>
        
                

    
        {{ form.submit(id="submit-btn") }}
    </form>
    

</div>
<div class="history">
    <div class="scan-history">
        <h4>Scan History</h4>
        <div class="card-container">
            {% for scan in scan_history %}
                <div class="card">
                    <div class="card-header">Scan Date: {{ scan.scan_date.strftime('%Y/%m/%d') }}</div>
                    <div class="card-body">
                        <ul class="info-list">
                            <li>Doctor: {{ scan.doctor_name }}</li>
                            <li>Result: {{ scan.result }}</li>
                            <div class="image-container" >
                                <form method="POST" class="profile">
                                    {{ form2.hidden_tag() }}
                                    {{ form2.submit() }}
                                  </form>
                            </div>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}