{% extends "base.html" %}

{% block content %}

<style>
    .container3, .PatientInf, .Results, .history {
        margin: 20px;
        padding: 10px;
    }
    .card {
        background: #f9f9f9;
        border: 1px solid #ddd;
        margin-top: 10px;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .card-header {
        background: #e9ecef;
        border-bottom: 1px solid #ddd;
        padding: 10px 15px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: bold;
    }
    .card-body img {
        width: 100%; /* Adjust based on your need */
        max-width: 200px;
        height: auto;
    }
    .image-container1 img.result-image1 {
        cursor: pointer;
        transition: transform 0.2s ease;
    }
    .image-container1:hover img.result-image1 {
        transform: scale(1.05);
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<div class="container3">
    <img class="Xray1" src="{{ url_for('static', filename='images/Xray1.jpg') }}" width="100%">
</div>

<div class="PatientInf">
    <div><h3>Patient Information</h3></div>
    <p>Patient Name: {{ patient_info.username }}</p>
    <p>Patient ID: {{ patient_info.patient_id }}</p>
    <p>Gender: {{ patient_info.gender }}</p>
    <p>Age: {{ patient_info.age }}</p>
</div>

<div class="history">
    <h4>Scan History</h4>
    <div class="card-container">
        {% for patient in patients | sort(attribute='date', reverse=true) %}
            <div class="card">
                <div class="card-header">Scan Date: {{ patient.date.strftime('%Y/%m/%d %H:%M') }}</div>
                <div class="card-body">
                    <ul class="info-list">
                        <li>Image: <img src="{{ url_for('static', filename='profile_pics/' + patient.brain_img) }}" height="100" alt="Scan image of {{ patient_info.username }}"></li>
                        <li>Doctor Name: {{ doctor_map[patient.id].username if patient.id in doctor_map else 'Unknown Doctor' }}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
