{% extends "base.html" %}
{% block content %}
<div class="container0">
    <img class="regimg" src="{{ url_for('static', filename='images/green.png') }}" >
    <div class="inimg">
        <div class="inimg_con">
            <h2 class="welcome">Welcome to Alzheimer Diagnosis System</h2>
            <form method="POST">
                {{ form.hidden_tag() }}
                <p>{{ form.email.label }}</p>{{ form.email }}<br>
                <p>{{ form.username.label }}</p>{{ form.username }}<br>
                <p>{{ form.specialization.label }}</p>
                <select name="specialization" required>
                    <option value="" disabled selected>Select...</option>
                    <option value="Radiologist">Radiologist</option>
                    <option value="Neurologist">Neurologist</option>
                </select><br>
                <p>{{ form.password.label }}</p>{{ form.password }}<br>
                <p>{{ form.pass_confirm.label }}</p>{{ form.pass_confirm }}<br>
                
                {{ form.submit() }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
