{% extends "base.html" %}
{% block content %}
<br>
<style>
    .rectangleRs {
        padding-bottom:2%;
        margin-top: 15%;
        margin-left: 35%;
        margin-bottom: 22.5%;
        border-radius: 10px;
        border: 5px solid #aba38e;
        width: 35%;
    
        background-color: #f8f8ec;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:black;
      }
      .rectangleRs div{
        margin-top:2%;
        
      }

      .rectangleRs input[type="text"] {
        border-radius: 6px;
        font-size: 16px;
        padding: 1%;
        width: 30%;
        font-size: 20px;
      }
      .rectangleRs input[type="submit"] {
        font-size: 16px;
        padding: 1%;
        width: 15%;
        margin-top: 20px;
        border-radius: 10px;
        cursor: pointer;
        border-color: #d5cbb0;
        background-color: #d5cbb0;
        /* margin-buttom:15%; */
      }
</style>
<div class="rectangleRs">
    <div class="container">
        <!-- Flash messages display area -->
        <!-- {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %} -->
        <div><h3>Search for Patient File</h3></div>
        <form method="POST">
            {{ search_form.hidden_tag() }}
           <div class"patientid"> {{ search_form.patient_id.label }} {{ search_form.patient_id() }}
            &nbsp;&nbsp; {{ search_form.submit() }}</div>
        </form>
    
        {% if patient_info %}
            <div>
                <h2>Patient Information</h2>
                <p>Name: {{ patient_info.username }}</p>
                <p>ID: {{ patient_info.patient_id }}</p>
                <p>Age: {{ patient_info.age }}</p>
                <p>Gender: {{ patient_info.gender }}</p>
                
                <form method="POST">
                    {{ request_form.hidden_tag() }}
                    {{ request_form.submit() }}
                </form>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}