{% extends "base.html" %}
{% block content %}
<div class="support">
    <h4>Support:</h4>
</div>
<div class="support1">
    <p>Contact Us</p><br>
    <label><img src="{{ url_for('static', filename='images/symbols_mail.png') }}" height="35px"> support@aialzhaimerdiaga</label>
    <br><br><br>
    <img src="{{ url_for('static', filename='images/phone.png') }}" height="40px"> +966 11 125 4576<br><br><br>
    <img src="{{ url_for('static', filename='images/whatsapp.png') }}" height="40px"> +966 562 873 503<br>
</div>
{% endblock %}
