{% extends "base.html" %}
{% block content %}



<div class="terms">
    <br>
    <h4>Use of Website Content:</h4>
    <p> <br>

        Please read these Terms of Use carefully before using our website.<br>
        By accessing or using the website, you agree to be bound by these Terms of Use.<br>
        If you do not agree with any part of these terms,
        please do not use our website.</p> <br>
</div>


<div class="terms1"><br>
    <h4>Use of Website Content:</h4>
    <p>
        <br>
        The content provided on this website, including text, images, graphics, and other materials, is for
        informational purposes only. It should not be considered as medical advice or a substitute for professional
        medical consultation or treatment.
    </p>

</div>

<div class="terms1"><br>
    <h4>User Conduct:</h4>
    <p>
        <br>
        You agree to use the website in compliance with applicable laws and regulations.
        You are solely responsible for the information you provide or post on the website, including any comments,
        feedback, or other content.
    </p>
</div>

<div class="terms1"><br>
    <h4>Privacy and Data Collection: </h4>
    <p>
        <br>
        We collect and process personal data in accordance with our Privacy Policy. By using the website, you consent to
        our collection and use of your personal information as described in the Privacy Policy.
    </p>
</div>

<div class="terms1">
    <h4>Disclaimer of Warranties:</h4>
    <p>
        <br>
        We strive to provide accurate and up-to-date information on the website. However, we make no warranties <br>or
        representations regarding the accuracy, reliability, or completeness of the content.
    </p>
</div>

<div class="terms1">
    <h4>Limitation of Liability:</h4>
    <br>
    <p>
        <br>
        In no event shall we or our affiliates be liable for any direct, indirect, incidental, consequential, or
        punitive damages arising out of or in connection with your use of the website or reliance on the
        content.<br><br>

    </p>
</div>
<div class="terms1">
    <h4> Changes to the Terms:</h4>
    <br> <br>
    <p>

        We reserve the right to modify or update these Terms of Use at any time without prior notice.<br> It is your
        responsibility to review the terms periodically for any changes.<br><br><br>

    </p>
</div>
<div class="terms1">
    <h4> Governing Law:</h4>
    <p>
        <br>
        These Terms of Use shall be governed by and construed in accordance with the laws of [Jurisdiction].<br> Any
        disputes arising out of or relating to these terms shall be subject to the exclusive jurisdiction of the courts
        in [Jurisdiction].
    </p>
</div>

{% endblock %}